@import 'variables';

.app {
  background-repeat: no-repeat;
  background-attachment: fixed;
  @apply py-5;
}

.has-error {
  label {
    color: $red;
  }

  input {
    border: 2px solid $red !important;

  }

  input:focus {
    border: 2px solid $red !important;
  }

  .help-block {
    color: $red;
  }
}


.alert-success {
  color: #1d643b;
  background-color: #d7f3e3;
  border-color: #c7eed8;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}